body {
 margin-top: 0px;
 margin-bottom: 0px;
 margin-right: 0px;
 margin-left: 0px;

  width: 100%;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(139, 138, 138, 0.5); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 138, 138, 0.5); 
}


