.div_videogame_card{
    
    
    width: 18em;
    display: flex;
    flex-direction: column;
    background-color: #282A3A;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 20px;
    color: #f0f6fc;
    /* animation: rendering 2s ; */
    
}

/* @keyframes rendering {
    from { opacity: 0.1; }
    to { opacity: 1; }    
    from {  }
    to {  }
} */

.div_videogame_card:hover{
    background-color: #3c3f4f;
    text-decoration:double;
}

.link_container{
    text-decoration: none;
    
}

.imagen_home{
    width: 18em;
    max-height: 18em;
    /* width: 370px; */
    
}