

.landing_div{
    border-top: 0px;
    background-image: url(https://images.unsplash.com/photo-1585620385456-4759f9b5c7d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position:center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: none;
    /* background-attachment:fixed; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

};


.link{
    text-decoration: none;
}
.btn_start{
    padding: 7px;
    font-size: 30px;
    background-color: rgb(150, 50, 50);
    border-radius: 10px;
    color: white;
    border:none;

} 


.btn_start:hover{
    cursor:pointer;
    background-color: rgb(123, 66, 66);;
}


.header_welcome{
    color: white;
    font-size: 85px;
    text-shadow:2px 2px black;
    animation: header 2s infinite;
    /* text-shadow: 3px 3px solid white; */
    /* fill: white; stroke: #000; stroke-width: 3px; */
    
}

@keyframes header {
    from { opacity: 0.1; }
    to { opacity: 1; }
}


